html {
  margin: 0;
  padding: 0;
}

h2 {
  width: 100%;
  height: 100%;
  background-color: gray;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 13px;
  margin-top: 13px;
}

.clickme {
  height: 50px;
  width: 50px;
  background-color: red;
}

.box1 {
  height: 50px;
  width: 50px;
  background-color: blueviolet;
  border: solid black;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 100%;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "button-d1 discrip discrip button-g1" "button-d1 item-info item-info button-g1" "button-d1 item-info item-info button-g1";
}

.button-d1 {
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9dceb), color-stop(#cdd1e5), color-stop(#c1c6df), color-stop(#b4bcd9), color-stop(#a8b1d3), color-stop(#a1aacd), color-stop(#9aa4c7), color-stop(#939dc1), color-stop(#8f98ba), color-stop(#8b94b2), color-stop(#888fab), to(#848ba4));
  background-image: linear-gradient(to bottom, #d9dceb, #cdd1e5, #c1c6df, #b4bcd9, #a8b1d3, #a1aacd, #9aa4c7, #939dc1, #8f98ba, #8b94b2, #888fab, #848ba4);
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "d1t" "d1m" "d1b";
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: button-d1;
}

.button-g1 {
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9dceb), color-stop(#cdd1e5), color-stop(#c1c6df), color-stop(#b4bcd9), color-stop(#a8b1d3), color-stop(#a1aacd), color-stop(#9aa4c7), color-stop(#939dc1), color-stop(#8f98ba), color-stop(#8b94b2), color-stop(#888fab), to(#848ba4));
  background-image: linear-gradient(to bottom, #d9dceb, #cdd1e5, #c1c6df, #b4bcd9, #a8b1d3, #a1aacd, #9aa4c7, #939dc1, #8f98ba, #8b94b2, #888fab, #848ba4);
  -ms-grid-columns: 0;
      grid-template-columns: 0;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "g1t" "g1m" "g1b";
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 4;
  grid-area: button-g1;
}

.buttonz {
  width: 100%;
}

.buttonp {
  width: 310px;
}

.g1t {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: g1t;
}

.g1m {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: g1m;
}

.btn-outlinet {
  color: white;
  background-color: #66f187;
  background-image: none;
  border-color: #66f187;
}

.btn-outgold {
  color: goldenrod;
  background-color: transparent;
  background-image: none;
  border-color: goldenrod;
}

.g1t {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: g1t;
}

.g1b {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: g1b;
}

.d1t {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: d1t;
}

.d1m {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: d1m;
}

.d1b {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: d1b;
}

.discrip {
  width: 100%;
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: discrip;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d9dceb), color-stop(#b6b9c7), color-stop(#9597a3), color-stop(#757681), color-stop(#565761), color-stop(#50515c), color-stop(#4a4c57), color-stop(#444652), color-stop(#535666), color-stop(#63677a), color-stop(#74798f), to(#848ba4));
  background-image: linear-gradient(to top, #d9dceb, #b6b9c7, #9597a3, #757681, #565761, #50515c, #4a4c57, #444652, #535666, #63677a, #74798f, #848ba4);
}

.item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: item-info;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9dceb), color-stop(#b6b9c7), color-stop(#9597a3), color-stop(#757681), color-stop(#565761), color-stop(#50515c), color-stop(#4a4c57), color-stop(#444652), color-stop(#535666), color-stop(#63677a), color-stop(#74798f), to(#848ba4));
  background-image: linear-gradient(to bottom, #d9dceb, #b6b9c7, #9597a3, #757681, #565761, #50515c, #4a4c57, #444652, #535666, #63677a, #74798f, #848ba4);
}

.contentR {
  /*   @include flexcenter();*/
  display: none;
  /*    height: 100%;
        width: 100%;*/
}

.R301aa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  width: 600px;
  height: 400px;
  background-color: blue;
}

.basicbutton {
  width: 100%;
}

.basicbutton:hover {
  background-color: yellow;
}

.imag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("wingman.jpg");
  width: 300px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tg .tg-7dil2 {
  background-color: yellow;
  text-align: left;
  vertical-align: top;
}

.tg .tg-fd62b {
  background-color: orange;
  text-align: left;
  vertical-align: top;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.tg th {
  font-family: 'Aldrich', sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
}

.tg td {
  font-family: 'Aldrich', sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
}

.tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: black;
}

.tg .tg-thhh {
  font-weight: bold;
  font-size: 20px;
  background-color: #ffc702;
  color: #000000;
  border-color: inherit;
  text-align: center;
  vertical-align: top;
}

.tg .tg-2ade {
  font-style: italic;
  font-size: 20px;
  background-color: #ffcb2f;
  color: #000000;
  border-color: inherit;
  text-align: center;
  vertical-align: top;
}

.tg .tg-e319 {
  font-weight: bold;
  font-size: 20px;
  background-color: #ffc702;
  color: #000000;
  border-color: #000000;
  text-align: center;
  vertical-align: top;
}

.tg .tg-mvx6 {
  font-style: italic;
  font-size: 20px;
  background-color: #ffcb2f;
  color: #000000;
  border-color: #000000;
  text-align: center;
  vertical-align: top;
}

@media screen and (max-width: 767px) {
  .tg {
    width: auto !important;
  }
  .tg col {
    width: auto !important;
  }
  .tg-wrap {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
/*# sourceMappingURL=clicktext.css.map */